@font-face {
  font-family: exo_font;
  src: url("../fonts/exo/Exo-Regular.ttf");
}
$h1-font-size: 36px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$normal-font-size: 16px;
$smaller-font-size: 13px;
$heading-font-weight: 600;
$normal-font-weight: 400;
$text-color: #babec4;
$text-color-light: #888b91;
$title-color: #f1f2f3;
$first-color: #4177dc;
$white-color: white;
